body {
    background-image: url("https://images2.alphacoders.com/480/thumb-1920-480530.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(66, 61, 61);
    color: white;
    font: 20px Arial;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;

}

header{
    color: whitesmoke;
    background-color: rgba(51, 48, 48, 0.856);
}

section {
    font-size: 23px;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(51, 48, 48, 0.952);
    border-radius: 10px;
    padding-left: 35px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(247, 243, 243, 0.37) 0.1em 0.1em 0.2em ;
}

.inputs{
    padding-top: 10%;
    
}

#number_typed{
    border-radius: 5em;
    border-color: white;
   width: 300px;
}

#button{   
    border-color: rgb(211, 211, 211);    
}

.result_div {

    padding: 5%;

}

.footer{
    font-size: small;
    color: whitesmoke;
    background-color: rgb(53, 51, 51);
    position: absolute;
    bottom: 0%;
    width: 99%;
    text-align: center;

    
}