body {
    
    background-repeat: no-repeat;
    background-color: rgb(66, 61, 61);
    color: whitesmoke;
    font: 20px Arial;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;

}


.footer{
    font-size: small;
    background-color: rgb(204, 204, 236);
    position: absolute;
    bottom: 0;
    width: 99%;
    
}

.inputs{
    padding-top: 10%;
 
}

#number_typed{
    border-radius: 5em;
    border-color: white;
   width: 300px;
}

#button{   
    border-color: rgb(211, 211, 211);    
}

.result_div {

    padding: 5%;

}

